
#shell,
.shell-width,
.side-width {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

#shell-top,
#shell-bottom {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
}

/* header */

header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0;
  top: 0;
  z-index: 1;
  background: #444;
  padding: 0;
}

header #logo {
  width: 75px;
  height: auto;
  float: left;
  padding: 1rem 1rem 1rem 40px;
}

header h1 {
  font-size: 3rem;
  line-height: 75px;
  padding: 1rem 0;
  margin-right: 135px;
}

nav {
  display: none; /* TODO */
}

/* footer */

footer {
  padding: 1.5rem 40px;
  font-size: 1.3rem;
}

footer h1 {
  font-size: 1.7rem;
}

/* content */

#main {
  width: auto;
  float: none;
}
#content {
  padding: 100px 40px 40px;
}