<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=640">

  <link rel="stylesheet" href="/styles/core.css" media="screen">
  <link rel="stylesheet" href="/styles/pygment_trac.css">

  <script type="text/javascript" src="/scripts/modernizr.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/headsmart.min.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
  <title>{{ page.title }} ܍ Michael Lyons</title>
  <link rel="canonical" href="{{ page.url }}">

  {% include favicons.html %}
  {% include openid.html %}
</head>

<body>
  <div id="shell">
    <div id="shell-top">
      <div class="shell-width">
        <div class="side-width">
          <header>
            <img id="logo" alt="" src="/images/elephant.svg" />
            <h1>Michael Lyons</h1>
          </header>
          {% include nav.html %}
        </div>
      </div>
    </div>
    <section id="main">
      <div id="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </section>
    <div id="shell-bottom">
      <div class="shell-width">
        <div class="side-width">
          <footer>
            <h1>Contact</h1>
            <dl>
              <dt>Phone</dt>
              <dd>(987) 654-3210</dd>
              <dt>Address</dt>
              <dd>
                <address>
                  1234 Some street<br/>
                  Sometown, EC 11111<br/>
                  United States
                </address>
              </dd>
            </dl>
          </footer>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
